<div>
    <form method="post" action="http://localhost:8081/">
        <input type="text" name="from" placeholder="from">
        <input type="text" name="to" placeholder="to">
        <input type="text" name="subject" placeholder="Subject">
        <input type="text" name="text" placeholder="text">

        <button>Enviar</button>
    </form>
</div>